<div class="col-sm-12">
  <%= form_for @new_comment, html: { class: "form-horizontal" } do |f| %>
    <%= f.hidden_field :commentable_id, value: @new_comment.commentable_id %>
    <%= f.hidden_field :commentable_type, value: @new_comment.commentable_type %>
    <div class="form-group">
      <%= f.text_area :body, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= submit_tag "Post comment", class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
