<% comments.each do |comment| %>
  <div class="comments-show">
    <div class="row">
      <div class="comment col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <i class="fa fa-user fa-fw"></i>
            <strong><%= comment.member.name %></strong> <span class="text-muted"><%= comment.created_at.strftime("commented on %d/%b/%Y %I:%M%p") %></span>
          </div>
          <div class="panel-body">
            <%= simple_format(comment.body) %>
            <% if @post.active? %>
              <a href="#" class="comment-reply pull-right">Reply</a>
            <% end %>
            <div class="reply-form">
              <%= form_for @new_comment do |f| %>
                <%= f.hidden_field :commentable_id, value: @new_comment.commentable_id %>
                <%= f.hidden_field :commentable_type, value: @new_comment.commentable_type %>
                <%= f.hidden_field :comment_id, value: comment.id %>
                <div class="field form-group">
                  <%= f.text_area :body, class: 'form-control', style: "margin-top: 5px;" %>
                </div>
                <div class="field form-group">
                  <%= submit_tag "Post Reply", class: 'btn btn-primary' %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        
      </div>
    </div>
    <%= render partial: "comments/reply", locals: {comments: comment.children} %>
  </div>
<% end %>