<p>Hello <%= @member.name %>,</p>

<p>
  Your Party Hall Booking request for <%= @booking.on_date.strftime("%d/%b/%Y") %> is <%= @booking.approved %>.
</p>

<% if @booking.response.to_s.length > 0 %>
  <p><b>Response:</b></p>
  <%= simple_format(@booking.response) %>
<% end %>

<% if @booking.Approved? %>
  <p>Kindly pay &#8377; 500/- before your party date and update the transaction details in 'My Transaction(s)' page.</p>
<% end %>

<p>
  To visit kindly login to the site and follow this link: <%= booking_url(@booking) %>.
</p>