<%= form_with(model: booking, local: true, class: "form-horizontal") do |f| %>
  <%= resource_error_messages!(booking) %>

  <% disabled = (!booking.new_record? && current_member != booking.member) %>

  <%= f.hidden_field :member_id %>

  <div class="form-group">
    <%= f.label :reason, "Reason *", class: "control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= f.text_field :reason, class: "form-control", disabled: disabled %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :on_date, "On Date *", class: "control-label col-sm-2" %>
    <div class="col-sm-10 input-group">
      <%= f.text_field :on_date, class: "form-control datepicker", value: booking.on_date.try(:strftime, "%d/%b/%Y").to_s, disabled: disabled, autocomplete: :off %>
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
      </span>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :start_time, "Start Time *", class: "control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= f.time_select :start_time, {default: {hour: 6}, start_hour: 6, end_hour: 22, ampm: true, ignore_date: true, minute_step: 15}, {class: "form-control start_time", disabled: disabled, style: "width:100px; display: inline"} %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :end_time, "End Time *", class: "control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= f.time_select :end_time, {default: {hour: 6}, start_hour: 6, end_hour: 22, ampm: true, ignore_date: true, minute_step: 15}, {class: "form-control end_time", disabled: disabled, style: "width:100px; display: inline"} %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :guest_count, "Guests Count *", class: "control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= f.number_field :guest_count, class: "form-control", disabled: disabled %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :notes, class: "control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= f.text_area :notes, class: "form-control", disabled: disabled %>
    </div>
  </div>

  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">Party Hall Booking Rules:</h3>
    </div>
    <div class="panel-body">
      <ul class="list-group">
        <% party_hall_rules.each_with_index do |ph_rule, index| %>
          <li class="list-group-item">
            <%= index+1 %>.&nbsp;<%= raw ph_rule %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <% if current_member.admin? %>
    <div class="form-group">
      <%= f.label :approved, "# Approved #", class: "control-label col-sm-2" %>
      <div class="col-sm-10">
        <%= f.select(:approved, Booking.approveds.keys, {}, {class: "form-control"}) %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :private, "# Private Party? #", class: "control-label col-sm-2" %>
      <div class="col-sm-10">
        <%= f.check_box :private, class: "form-control", style: "width:34px" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :response, "# Response #", class: "control-label col-sm-2" %>
      <div class="col-sm-10">
        <%= f.text_area :response, class: "form-control" %>
      </div>
    </div>
  <% end %>

  <div>
    <div class="col-sm-12" style="text-align: center;">
      <%= link_to 'Cancel', :back, class: "btn btn-default" %>
      <% if current_member.admin? && !booking.new_record? %>
        <%= f.submit "Save", class: "mleft10 btn btn-primary" %>
        <%= button_tag type: 'submit', value: 'Send', class: "mleft10 btn btn-primary" do %>
          Save and Send Response<i class="fa fa-paper-plane-o fa-fw"></i>
        <% end %>
      <% else %>
        <%= f.submit "Agree & Submit", class: "mleft10 btn btn-primary" %>
      <% end %>
    </div>
  </div>
<% end %>
