<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>
          Settings
          <%= link_to 'Add Setting', new_setting_path, class: "btn btn-default pull-right" %>
        </h3>
      </div>
      <!-- /.panel-heading -->

      <div class="panel-body panel30 settings-wrapper">
        <table class="dataTable table table-striped table-bordered table-hover" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th>Name</th>
              <th>Value</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @settings.each do |setting| %>
              <tr>
                <td><%= link_to setting.name, setting_path(setting) %></td>
                <td><%= setting.value %></td>
                <td>
                  <%= link_to edit_setting_path(setting) do %>
                    <i class="fa fa-pencil fa-fw" title="Edit"></i>
                  <% end %>
                  <%= link_to setting, method: :delete, data: { confirm: 'Are you sure want to delate this setting entry?' } do %>
                    <i class="fa fa-trash-o fa-fw" title="Delete"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
