<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-signin"}) do |f| %>
  <h2 class="page-header">Please Login</h2>
  <div>
    <%= f.label :login, "Flat / Login" %><br />
    <%#= f.text_field :login, autofocus: true, class: "form-control",placeholder: "eg. FOF03-B or tf11-a", autocomplete: :off %>
    <%= f.select(:login, flats_list, {prompt: 'Select your flat'}, {class: "form-control"}) %> <br />
  </div>

  <div>
    <%= f.label :password %><br />
    <%= f.password_field :password, class: "form-control" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="checkbox">
      <label>
        <%= f.check_box :remember_me %> Remember me
      </label>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Sign in", class: "btn btn-lg btn-primary btn-block" %>
  </div>
  <%= render "devise/shared/links" %>
<% end %>
