<%= form_with(model: feedback, local: true, class: "form-horizontal") do |f| %>
  <%= resource_error_messages!(feedback) %>

  <%= f.hidden_field :member_id %>

  <div class="form-group">
    <%= f.label :subject, "Subject *", class: "control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= f.text_field :subject, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :content, class: "control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= f.text_area :content, class: "form-control", rows: 8 %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :assignee_id, "Assignee *", class: "control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= f.select(:assignee_id, flats_list_with_id, {prompt: 'Select'}, {class: "form-control"}) %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :status, class: "control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= f.select(:status, Feedback.statuses.keys, {prompt: 'Select'}, {class: "form-control"}) %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :priority, class: "control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= f.select(:priority, Feedback.priorities.keys, {prompt: 'Select'}, {class: "form-control"}) %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :response, class: "control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= f.text_area :response, class: "form-control", rows: 8 %>
    </div>
  </div>

  <div class="col-sm-12 flex-buttons">
    <%= link_to 'Cancel', :back, class: "mtop10 btn btn-default" %>
    <%= f.submit "Save", class: "mleft10 mtop10 btn btn-primary" %>
    <% unless feedback.new_record? %>
      <%= button_tag type: 'submit', value: 'Assign', class: "mleft10 mtop10 btn btn-primary" do %>
        Assign<i class="fa fa-paper-plane-o fa-fw"></i>
      <% end %>
      <%= button_tag type: 'submit', value: 'Send', class: "mleft10 mtop10 btn btn-primary" do %>
        Send<i class="fa fa-paper-plane-o fa-fw"></i>
      <% end %>
    <% end %>
  </div>
<% end %>
