<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>
          Feedbacks
          <%= link_to 'Add Feedback', new_feedback_path, class: "btn btn-default pull-right" %>
        </h3>
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body panel30 feedbacks-wrapper">
        <table class="dataTable table table-striped table-bordered table-hover" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th>Subject</th>
              <th>Sender</th>
              <th>Sent Date</th>
              <th>Assignee</th>
              <th>Status</th>
              <th>Priority</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @feedbacks.each do |feedback| %>
              <tr>
                <td><%= link_to feedback.subject, feedback %></td>
                <td><%= link_to feedback.member.name_with_flat, feedback.member %></td>
                <td><%= feedback.created_at.strftime("%d/%b/%Y") %></td>
                <td><%= link_to feedback.member.name_with_flat, feedback.member %></td>
                <td><%= feedback.status %></td>
                <td><%= feedback.priority %></td>
                <td>
                  <%= link_to edit_feedback_path(feedback) do %>
                    <i class="fa fa-pencil fa-fw" title="Edit"></i>
                  <% end %>
                  <%= link_to feedback, method: :delete, data: { confirm: 'Are you sure?' } do %>
                    <i class="fa fa-trash-o fa-fw" title="Delete"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
