<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3><%= @feedback.subject %>
            <span class="pull-right">
              <%= link_to edit_feedback_path(@feedback), class: "btn btn-default" do %>
                <i class="fa fa-pencil-square-o fa-fw" title="Edit"></i>Edit
              <% end %>
            </span>
          </h3>
        </div>
        <dl class="dl-horizontal mtop20">
          <dt>Content:</dt>
          <dd><%= simple_format(@feedback.content) %></dd>
        </dl>
        <dl class="dl-horizontal mtop20">
          <dt>Status:</dt>
          <dd><%= @feedback.status %></dd>
        </dl>
        <dl class="dl-horizontal mtop20">
          <dt>Priority:</dt>
          <dd><%= @feedback.priority %></dd>
        </dl>
        <dl class="dl-horizontal mtop20">
          <dt>Response:</dt>
          <dd><%= simple_format(@feedback.response) %></dd>
        </dl>
      </div>

      <%= link_to '<< Feedbacks', feedbacks_path, class: "btn btn-default" %>
    </div>
  </div>
</div>
