<%= form_with(model: post, local: true, class: "form-horizontal") do |f| %>
  <%= resource_error_messages!(post) %>

  <%= f.hidden_field :member_id %>

  <div class="form-group">
    <%= f.label :title, class: "control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= f.text_field :title, class: "form-control" %> <br />
    </div>
  </div>

  <div class="form-group">
    <%= f.label :description, class: "control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= f.text_area :description, class: "form-control" %> <br />
    </div>
  </div>

  <div class="form-group">
    <%= f.label :private, class: "control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= f.check_box :private, class: "form-control", style: "width:34px" %>
      <span style="color:blue;">(private posts will be visible only to you and the governing members)</span>
    </div>
  </div>

  <div>
    <div class="col-sm-12" style="text-align: center;">
      <%= link_to 'Cancel', :back, class: "btn btn-default" %>
      <%= f.submit "Submit", class: "btn btn-primary" %>
    </div>
  </div>

<% end %>
