<%= form_with(model: post, local: true, class: "form-horizontal") do |f| %>
  <%= resource_error_messages!(post) %>

  <%= f.hidden_field :member_id %>

  <div class="form-group">
    <%= f.label :title, class: "control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= f.text_field :title, class: "form-control" %> <br />
    </div>
  </div>

  <div class="form-group">
    <%= f.label :description, class: "control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= f.text_area :description, class: "form-control" %> <br />
    </div>
  </div>

  <div class="form-group">
    <%= f.label :private, class: "control-label col-sm-2" do%>
      <span>
        Private
        <i class="fa fa-lightbulb-o fa-fw" title="Private posts will be visible only to you and the governing members"></i>
      </span>
    <% end %>
    <div class="col-sm-10">
      <%= f.check_box :private, {class: "form-control", style: "width:34px"} %>
    </div>
  </div>

  <% if current_member.admin? %>
    <div class="form-group">
      <%= f.label :active, "Status", class: "control-label col-sm-2" %>
      <div class="col-sm-10">
        <%= f.select(:active, [["Open",true],["Close",false]], {}, {class: "form-control"}) %> <br />
      </div>
    </div>

    <div class="form-group">
      <%= f.label :visible, "Publish", class: "control-label col-sm-2" %>
      <div class="col-sm-10">
        <%= f.check_box :visible, {class: "form-control", style: "width:34px"} %>
      </div>
    </div>
  <% end %>

  <div>
    <div class="col-sm-12" style="text-align: center;">
      <%= link_to 'Cancel', :back, class: "btn btn-default" %>
      <%= f.submit "Submit", class: "btn btn-primary" %>
    </div>
  </div>

<% end %>
