<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>Posts
          <% if current_member.admin? %>
            <%= link_to 'New Post', new_post_path, class: "btn btn-default pull-right" %>
          <% end %>
        </h3>
      </div>
      <!-- /.panel-heading -->

      <div class="panel-body panel30 posts-wrapper">
        <table class="dataTable table table-striped table-bordered table-hover <%= current_member.admin? ? 'admin-view' : '' %>" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th>Title</th>
              <th>Author</th>
              <th>Posted Date</th>
              <th>Status</th>
              <th>
                Published?
                <i class="fa fa-lightbulb-o fa-fw" title="Posts will be published to everyone only if approved by governing members"></i>
              </th>
              <th>
                Private
                <i class="fa fa-lightbulb-o fa-fw" title="Private posts will be visible only to its author and the governing members"></i>
              </th>
              <% if current_member.admin? %>
                <th>Actions</th>
              <% end %>
            </tr>
          </thead>

          <tbody>
            <% @posts.each do |post| %>
              <tr>
                <td><%= link_to post.title, post_path(post) %></td>
                <td><%= post.member.try(:name) %></td>
                <td><%= post.on_date.strftime("%d/%b/%Y") %></td>
                <td><%= post.active? ? 'Open' : 'Closed' %></td>
                <td><%= post.visible? ? 'Yes' : 'No' %></td>
                <td><%= post.private? ? 'Yes' : 'No' %></td>
                <% if current_member.admin? %>
                  <td>
                    <%= link_to post_path(post) do %>
                      <i class="fa fa-bell fa-fw" title="Open"></i>
                    <% end %>
                    <%= link_to edit_post_path(post) do %>
                      <i class="fa fa-pencil fa-fw" title="Edit"></i>
                    <% end %>
                    <% unless post.private? %>
                      <%= link_to publish_post_path(post), method: :put do %>
                        <i class="fa <%=post.visible? ? 'fa-stop' : 'fa-play'%> fa-fw" title="<%= post.visible? ? 'Unpublish' : 'Publish'%>"></i>
                      <% end %>
                    <% end %>
                    <%#= link_to post, method: :delete, data: {confirm: "Are you sure want to remove this post?"} do %>
                      <!-- <i class="fa fa-trash-o fa-fw" title="Delete"></i> -->
                    <%# end %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
