<%= form_with(model: vehicle, local: true, class: "form-horizontal") do |f| %>
  <%= resource_error_messages!(vehicle) %>

  <% if current_member.admin? %>
    <div class="form-group">
      <%= f.label :member_id, "Owned By *", class: "control-label col-sm-2 fadmin" %>
      <div class="col-sm-10">
        <%= f.select(:member_id, flats_list_with_id, {prompt: 'Select'}, {class: "form-control"}) %>
      </div>
    </div>
  <% else %>
    <%= f.hidden_field :member_id %>
  <% end %>

  <div class="form-group">
    <%= f.label :name, "Vehicle Name *", class: "control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= f.text_field :name, class: "form-control", placeholder: "eg. Maruti Baleno (White)" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :number, "Reg Number *", class: "control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= f.text_field :number, class: "form-control", placeholder: "eg. KA05 B 9999" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :Category, "Vehicle Type *", class: "control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= f.select(:category, Vehicle.categories.keys, {prompt: 'Select'}, {class: "form-control"}) %>
    </div>
  </div>

  <div class="col-sm-12 flex-buttons">
    <%= link_to 'Cancel', vehicles_path((current_member.admin? && (vehicle.new_record? || vehicle.member != current_member)) ? {all: true} : {}), class: "btn btn-default" %>
    <%= f.submit "Submit", class: "mleft10 btn btn-primary" %>
  </div>
<% end %>
