<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>
          <div class="flex-box">
            <% if params[:all].present? %>
              All Vehicles
            <% else %>
              My Vehicle(s)
            <% end %>
            <div class="col-lg-2">
              <%= link_to 'Add Vehicle', new_vehicle_path, class: "btn btn-default" %>
            </div>
          </div>
        </h3>
      </div>
      <!-- /.panel-heading -->

      <div class="panel-body panel30 vehicles-wrapper">
        <table class="dataTable table table-striped table-bordered table-hover <%= current_member.admin? ? 'admin-view' : '' %>" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th>Vehicle Name</th>
              <th>Reg Number</th>
              <th>Category</th>
              <% if params[:all].present? %>
                <th>Name & Flat</th>
              <% end %>
              <% if current_member.admin? || params[:all].blank? %>
                <th>Actions</th>
              <% end %>
            </tr>
          </thead>

          <tbody>
            <% @vehicles.each do |vehicle| %>
              <tr>
                <td><%= vehicle.name %></td>
                <td><%= vehicle.number %></td>
                <td><%= vehicle.category %></td>
                <% if params[:all].present? %>
                  <td>
                    <%= link_to vehicle.member.name_with_flat, member_path(vehicle.member) %>
                  </td>
                <% end %>
                
                <% if current_member.admin? || params[:all].blank? %>
                  <td>
                    <%= link_to edit_vehicle_path(vehicle) do %>
                      <i class="fa fa-pencil fa-fw" title="Edit"></i>
                    <% end %>
                    <%= link_to vehicle, method: :delete, data: {confirm: "Are you sure?"} do %>
                      <i class="fa fa-trash-o fa-fw" title="Delete"></i>
                    <% end %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
