<tr class="information mtop5">
  <td colspan="2">
    <table class="mtop20">
      <tr>
        <td>
          To:<br>
          <%= @transaction.member.name %><br>
          <%= @transaction.member.login %> Block
        </td>
        <td>
          Invoice #: <%= "%.4d" % @transaction.id %><br>
          Invoice Date: <%= @transaction.on_date.strftime("%d/%b/%Y") %><br>
          <% if @transaction.Maintenance? %>
            Due Date: <%= @transaction.due_date %>
          <% end %>
        </td>
      </tr>
    </table>
  </td>
</tr>

<tr class="heading">
  <td>
    Payment Method
  </td>
  <td>
    Transaction #
  </td>
</tr>

<tr class="details">
  <td>
    <%= @transaction.payment_mode %>
  </td>
  <td>
    <%= @transaction.transaction_id %>
  </td>
</tr>

<tr class="heading">
  <td>
    Particulars
  </td>
  <td>
    Price
  </td>
</tr>

<tr class="item">
  <td>
    <%= transaction_reason(@transaction) %>
  </td>
  <td>
    &#8377; <%= "%.2f" % @transaction.actual_paid %>
  </td>
</tr>

<tr class="item last">
  <td>
    Penalty
  </td>
  <td>
    &#8377; <%= "%.2f" % @transaction.penalty %>
  </td>
</tr>

<tr class="total">
  <td></td>
  <td style="padding-top: 10px;">
    Total: &#8377; <%= "%.2f" % @transaction.amount_paid %>
  </td>
</tr>
