<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading bbnone">
        <h3>
          <div class="flex-box">
            <div>
              <% if params[:action] == 'all' %>
                Transactions
                <%= select_tag "tr_category", options_for_select(Transaction.categories.keys, (params[:category])), prompt: 'All', class: "form-control", style: "width: 120px;display: inline;" %>
              <% else %>
                My Transaction(s)
              <% end %>
            </div>
            <div class="col-lg-2">
              <%= link_to 'Add My Transaction', new_transaction_path, class: "btn btn-default" %>
            </div>
          </div>
        </h3>
        <% if params[:action] == 'all' %>
          <ul class="nav nav-tabs">
            <li class="<%= (params[:filter]=='pending' || params[:filter].blank?) ? 'active' : '' %>">
              <%= link_to "Pending", all_transactions_path(category: params[:category], filter: 'pending') %>
            </li>
            <li class="<%= (params[:filter]=='verified') ? 'active' : '' %>">
              <%= link_to "Verified", all_transactions_path(category: params[:category], filter: 'verified') %>
            </li>
            <li class="<%= (params[:filter]=='all') ? 'active' : '' %>">
              <%= link_to "All", all_transactions_path(category: params[:category], filter: 'all') %>
            </li>
          </ul>
        <% end %>
      </div>
      <!-- /.panel-heading -->

      <div class="panel-body panel30 transactions-wrapper">
        <table class="dataTable table table-striped table-bordered table-hover <%= current_member.admin? ? 'admin-view' : '' %>" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th>Transaction #</th>
              <th>Payment Mode</th>
              <th>Amount Paid (&#8377;)</th>
              <th>Date Paid</th>
              <th>Category</th>
              <th>Duration</th>
              <th>Payment Status</th>
              <% if current_member.admin? %>
                <th>Paid By</th>
                <th>Phone</th>
              <% end %>
              <th>Actions</th>
            </tr>
          </thead>

          <tbody>
            <% @transactions.each do |transaction| %>
              <tr>
                <td><%= link_to transaction.transaction_id, transaction %></td>
                <td><%= transaction.payment_mode %></td>
                <td><%= transaction.amount_paid %></td>
                <td><%= transaction.on_date.strftime("%d/%b/%Y") %></td>
                <td><%= transaction.category %></td>
                <td><%= transaction.sub_category %></td>
                <td><%= transaction.status %></td>
                <% if current_member.admin? %>
                  <td>
                    <%= link_to transaction.member.name_with_flat, member_path(transaction.member) %>
                  </td>
                  <td><%= transaction.member.phone %></td>
                <% end %>
                <td>
                  <% unless transaction.Verified? %>
                    <%= link_to edit_transaction_path(transaction) do %>
                      <i class="fa fa-pencil fa-fw" title="Edit"></i>
                    <% end %>
                    <%= link_to verify_payment_transaction_path(transaction), method: :put do %>
                      <i class="fa fa-check fa-fw" title="Verify"></i>
                    <% end %>
                  <% else %>
                    <%= link_to download_receipt_transaction_path(transaction, format: :pdf) do %>
                      <i class="fa fa-download fa-fw" title="Download Receipt"></i>
                    <% end %>
                  <% end %>
                  <%#= link_to transaction, method: :delete, data: { confirm: 'Are you sure want to delate this transaction entry?' } do %>
                    <!-- <i class="fa fa-trash-o fa-fw" title="Delete"></i> -->
                  <%# end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
