<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>
            <div class="flex-box">
              <%= @transaction.transaction_id %> - <%= @transaction.status %>
              <% if !@transaction.Verified? && (current_member.admin? || current_member == @transaction.member) %>
                <div class="col-lg-2">
                  <%= link_to edit_transaction_path(@transaction), class: "btn btn-default" do %>
                    <i class="fa fa-pencil-square-o fa-fw" title="Edit"></i>Edit
                  <% end %>
                </div>
              <% end %>
              <% if @transaction.Verified? %>
                <div class="col-lg-2">
                  <%= link_to download_receipt_transaction_path(@transaction, format: :pdf), class: "btn btn-default" do %>
                    <i class="fa fa-download fa-fw" title="Download Receipt"></i>Invoice
                  <% end %>
                </div>
              <% end %>
            </div>
          </h3>
        </div>
        <div class="panel-body panel30">
          <dl class="dl-horizontal mtop20">
            <dt>Transaction #:</dt>
            <dd><%= @transaction.transaction_id %></dd>
          </dl>
          <dl class="dl-horizontal mtop20">
            <dt>Payment Mode:</dt>
            <dd><%= @transaction.payment_mode %></dd>
          </dl>
          <dl class="dl-horizontal mtop20">
            <dt>Amount Paid:</dt>
            <dd>&#8377; <%= @transaction.amount_paid %></dd>
          </dl>
          <dl class="dl-horizontal mtop20">
            <dt>Penalty:</dt>
            <dd>&#8377; <%= @transaction.penalty %></dd>
          </dl>
          <dl class="dl-horizontal mtop20">
            <dt>Date Paid:</dt>
            <dd><%= @transaction.on_date.strftime("%d/%b/%Y") %></dd>
          </dl>
          <% if current_member.admin? %>
            <dl class="dl-horizontal mtop20">
              <dt>Paid By:</dt>
              <dd><%= link_to @transaction.member.name_with_flat, @transaction.member %></dd>
            </dl>
            <dl class="dl-horizontal mtop20">
              <dt>Phone:</dt>
              <dd><%= @transaction.member.phone %></dd>
            </dl>
          <% end %>
          <dl class="dl-horizontal mtop20">
            <dt>Category:</dt>
            <dd><%= @transaction.category %></dd>
          </dl>
          <% if @transaction.Maintenance? || @transaction.CorpusFund? %>
            <dl class="dl-horizontal mtop20">
              <dt>Duration:</dt>
              <dd><%= @transaction.sub_category %></dd>
            </dl>
          <% elsif @transaction.PartyHall? %>
            <dl class="dl-horizontal mtop20">
              <dt>Booking Date:</dt>
              <dd><%= @transaction.for_date.try(:strftime, "%d/%b/%Y").to_s %></dd>
            </dl>
          <% end %>
          <dl class="dl-horizontal mtop20">
            <dt>Description:</dt>
            <dd><%= simple_format(@transaction.description) %></dd>
          </dl>
        </div>
      </div>

      <%= link_to '&#9664; My Transaction(s)'.html_safe, transactions_path, class: "btn btn-default" %>
      <%= link_to '&#9664; All Transactions'.html_safe, all_transactions_path, class: "mleft10 btn btn-default" if current_member.admin? %>
    </div>
  </div>
</div>
