<!DOCTYPE html>
<html>
  <head>
    <title>AjanthaPrime</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="wrapper">
      <%= render 'layouts/header' %>
      <div class="container-fluid">
        <div class="flash-container">
          <%= render 'layouts/flash_message' %>
        </div>
        <%= yield %>
      </div>
    </div>
    <!-- Footer -->
    <footer class="footer">
      <div class="container text-center">
        <span class="text-muted">© 2018 Copyright:
          <a href="https://ajanthaprime.org/"> ajanthaprime.org</a>
        </span>
      </div>
    </footer>
    <!-- Footer -->
  </body>
</html>
