<!DOCTYPE html>
<html>
  <head>
    <title>AjanthaPrime</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag asset_path('favicon.ico'), :rel => 'icon', :type => "image/x-icon" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="wrapper">
      <%= render 'layouts/header' %>
      <div class="container-fluid">
        <div class="flash-container">
          <%= render 'layouts/flash_message' %>
        </div>
        <%= yield :page_header %>
        <%= yield %>
      </div>
    </div>
    <!-- Footer -->
    <footer class="footer">
      <div class="container text-center">
        <span class="text-muted">© 2018 Copyright:
          <a href="https://ajanthaprime.herokuapp.com"> ajanthaprime.herokuapp.com</a>
        </span>
      </div>
    </footer>
    <!-- Footer -->
  </body>
</html>
