<%= form_with(model: member, local: true, class: "form-horizontal") do |f| %>
  <%= resource_error_messages!(member) %>

  <%= render 'form_fields', f: f, member: member %>

  <div class="col-sm-12 flex-buttons">
    <%= link_to 'Cancel', :back, class: "btn btn-default" %>
    <%= f.submit "Submit", class: "mleft10 btn btn-primary" %>
  </div>
<% end %>
