<div class="form-group">
  <%= f.label :name, class: "control-label col-sm-2" %>
  <div class="col-sm-10">
    <%= f.text_field :name, class: "form-control" %> <br />
  </div>
</div>

<div class="form-group">
  <%= f.label :block, class: "control-label col-sm-2" %>
  <div class="col-sm-10">
    <%= f.select(:block, ["A","B"], {prompt: 'Select'}, {class: "form-control"}) %> <br />
  </div>
</div>

<div class="form-group">
  <%= f.label :floor, class: "control-label col-sm-2" %>
  <div class="col-sm-10">
    <%= f.select(:floor, [["GF",0],["FF",1],["SF",2],["TF",3],["FOF",4]], {prompt: 'Select'}, {class: "form-control"}) %> <br />
  </div>
</div>

<div class="form-group">
  <%= f.label :flat, class: "control-label col-sm-2" %>
  <div class="col-sm-10">
    <%= f.select(:flat, (1..12).to_a.map{|x| [('%02d' % x),x]}, {prompt: 'Select'}, {class: "form-control"}) %> <br />
  </div>
</div>

<!-- <div class="form-group">
  <%#= f.label :owner, 'Ownership', class: "control-label col-sm-2" %>
  <div class="col-sm-10">
    <%#= f.select(:owner, [['Owner', true], ['Tenant', false]], {}, {class: "form-control"}) %> <br />
  </div>
</div> -->

<div class="form-group">
  <%= f.label :available_for_rent, class: "control-label col-sm-2" do %>
    <span>
      Available for Rent?:
      <i class="fa fa-lightbulb-o fa-fw" title="Tick this only when the flat is unoccupied or when tenant stays in notice period"></i>
    </span>
  <% end %>
  <div class="col-sm-10">
    <%= f.check_box :available_for_rent, class: "form-control", style: "width:34px" %> <br />
  </div>
</div>

<div class="form-group">
  <%= f.label :rented, class: "control-label col-sm-2" do %>
  <span>
    Rented to someone?:
    <i class="fa fa-lightbulb-o fa-fw" title="Tick this only when the flat is occupied by tenant"></i>
  </span>
  <% end %>
  <div class="col-sm-10">
    <%= f.check_box :rented, class: "form-control rented", style: "width:34px" %> <br />
  </div>
</div>

<div class="container tenant-section" style="<%= member.rented? ? '' : 'display: none' %>;">
  <section class="panel panel-default">
    <header class="panel-heading">
      <h5 class="panel-title">Tenant Details</h5>
    </header>
    <div class="panel-body">
      <%= f.fields_for :tenant, (member.tenant || member.build_tenant) do |t_f| %>
        <%= t_f.hidden_field :id %>
        <div class="form-group">
          <%= t_f.label :name,"Tenant Name", class: "control-label col-sm-2" %>
          <div class="col-sm-10">
            <%= t_f.text_field :name, class: "form-control" %> <br />
          </div>
        </div>

        <div class="form-group">
          <%= t_f.label :email, "Tenant Email", class: "control-label col-sm-2" %>
          <div class="col-sm-10">
            <%= t_f.text_field :email, class: "form-control" %> <br />
          </div>
        </div>

        <div class="form-group">
          <%= t_f.label :phone, "Tenant Phone", class: "control-label col-sm-2" %>
          <div class="col-sm-10">
            <%= t_f.text_field :phone, class: "form-control" %> <br />
          </div>
        </div>
      <% end %>
    </div>
  </section>
</div>

<div class="form-group">
  <%= f.label :email, class: "control-label col-sm-2" %>
  <div class="col-sm-10">
    <%= f.text_field :email, class: "form-control" %> <br />
  </div>
</div>

<div class="form-group">
  <%= f.label :sec_email, 'Secondary Email', class: "control-label col-sm-2" %>
  <div class="col-sm-10">
    <%= f.text_field :sec_email, class: "form-control" %> <br />
  </div>
</div>

<div class="form-group">
  <%= f.label :phone, class: "control-label col-sm-2" %>
  <div class="col-sm-10">
    <%= f.text_field :phone, class: "form-control" %> <br />
  </div>
</div>

<div class="form-group">
  <%= f.label :sec_phone, 'Secondary Phone', class: "control-label col-sm-2" %>
  <div class="col-sm-10">
    <%= f.text_field :sec_phone, class: "form-control" %> <br />
  </div>
</div>

<% if member.new_record? %>
  <div class="form-group">
    <%= f.label :password, class: "control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= f.password_field :password, class: "form-control" %> <br />
    </div>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, 'Confirm Password', class: "control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= f.password_field :password_confirmation, class: "form-control" %> <br />
    </div>
  </div>
<% end %>

<% if current_member && current_member.admin_toggle? %>
  <div class="form-group">
    <%= f.label :admin, class: "control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= f.check_box :admin, class: "form-control", style: "width:34px" %> <br />
    </div>
  </div>
<% end %>
