<%= form_with(model: member, local: true, class: "form-horizontal") do |f| %>
  <%= resource_error_messages!(member) %>

  <%= render 'form_fields', f: f, member: member %>

  <div>
    <div class="col-sm-12" style="text-align: center;">
      <%= link_to 'Cancel', :back, class: "btn btn-default" %>
      <%= f.submit "Submit", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
