<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">Change Password</h2>
      <%= form_for @member, as: :member, url: update_password_path(@member), method: :put, html: { class: "form-horizontal" } do |f| %>
        <%= resource_error_messages!(@member) %>

        <div class="form-group">
          <%= f.label :current_password, class: "control-label col-sm-2" %>
          <div class="col-sm-10">
            <%= f.password_field :current_password, class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :password, class: "control-label col-sm-2" %>
          <div class="col-sm-10">
            <%= f.password_field :password, class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation, 'Confirm Password', class: "control-label col-sm-2" %>
          <div class="col-sm-10">
            <%= f.password_field :password_confirmation, class: "form-control" %>
          </div>
        </div>

        <div class="col-sm-12 flex-buttons">
          <%= link_to "Cancel", member_path(@member), class: "btn btn-default" %>
          <%= f.submit "Submit", class: "mleft10 btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>