<%= form_for @member, as: :member, url: update_password_path(@member), method: :put, html: { class: "form-signin" } do |f| %>
  <h2 class="page-header">Change Password</h2>
  <%= resource_error_messages!(@member) %>

  <div>
    <%= f.label :current_password, class: "control-label" %>
    <%= f.password_field :current_password, class: "form-control" %> <br />
  </div>

  <div>
    <%= f.label :password, class: "control-label" %>
    <%= f.password_field :password, class: "form-control" %> <br />
  </div>

  <div>
    <%= f.label :password_confirmation, 'Confirm Password', class: "control-label" %>
    <%= f.password_field :password_confirmation, class: "form-control" %> <br />
  </div>

  <div class="actions" style="text-align: center;">
    <%= link_to "Cancel", member_path(@member), class: "btn btn-default" %>
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
