<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3><%= @member.name %>
            <% if current_member.admin? or current_member == @member %>
              <span class="pull-right">
                <%= link_to edit_member_path(@member) do %>
                  <i class="fa fa-pencil-square-o fa-fw" title="Edit"></i>
                <% end %>
              </span>
            <% end %>
          </h3>
        </div>

        <dl class="dl-horizontal mtop20">
          <dt>Name:</dt>
          <dd><%= @member.name %></dd>
        </dl>

        <dl class="dl-horizontal">
          <dt>Flat / Login:</dt>
          <dd><%= @member.login %></dd>
        </dl>

        <!-- <dl class="dl-horizontal">
          <dt>Owner?:</dt>
          <dd><%#= @member.owner ? 'Yes' : 'No' %></dd>
        </dl> -->

        <dl class="dl-horizontal">
          <dt>Available for Rent?:</dt>
          <dd><%= @member.available_for_rent? ? 'Yes' : 'No' %></dd>
        </dl>

        <dl class="dl-horizontal">
          <dt>Rented to someone?:</dt>
          <dd><%= @member.rented? ? 'Yes' : 'No' %></dd>
        </dl>

        <% if @member.rented? %>
          <dl class="dl-horizontal mtop20">
            <dt>Tenant Name:</dt>
            <dd><%= @tenant.try(:name) %></dd>
          </dl>

          <dl class="dl-horizontal">
            <dt>Tenant Email:</dt>
            <dd><%= @tenant.try(:email) %></dd>
          </dl>

          <dl class="dl-horizontal">
            <dt>Tenant Phone:</dt>
            <dd><%= @tenant.try(:phone) %></dd>
          </dl>
        <% end %>

        <dl class="dl-horizontal">
          <dt>Email:</dt>
          <dd><%= @member.email %></dd>
        </dl>

        <dl class="dl-horizontal">
          <dt>Secondary Email:</dt>
          <dd><%= @member.sec_email %></dd>
        </dl>

        <dl class="dl-horizontal">
          <dt>Phone:</dt>
          <dd><%= @member.phone %></dd>
        </dl>

        <dl class="dl-horizontal">
          <dt>Secondary Phone:</dt>
          <dd><%= @member.sec_phone %></dd>
        </dl>

        <% if @member.vehicles.length > 0 %>
          <div class="panel-heading mbottom20">
            Vehicle(s):
          </div>
          <% @member.vehicles.each do |vehicle| %>
            <dl class="dl-horizontal">
              <dt><%= vehicle.category %>:</dt>
              <dd><%= vehicle.name %> / <%= vehicle.number %></dd>
            </dl>
          <% end %>
        <% end %>

      </div>

      <%= link_to '<< Members', members_path, class: "btn btn-default" %>
    </div>
  </div>
</div>