<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading bbnone">
        <h3>
          <div class="flex-box">
            <div>
              Accounts
              <%= select_tag "for_month", options_for_select(month_year_list, (params[:month] || Date.today.strftime("%b-%Y"))), class: "form-control", style: "width: 130px;display: inline;" %>
            </div>
            <div class="col-lg-2">
              <%= link_to 'Add Account Entry', new_account_path, class: "btn btn-default" %>
            </div>
          </div>
        </h3>
        
        <ul class="nav nav-tabs">
          <li class="<%= (params[:filter]=='all' || params[:filter].blank?) ? 'active' : '' %>">
            <%= link_to "All", accounts_path(month: params[:month], filter: 'all') %>
          </li>
          <li class="<%= (params[:filter]=='expense') ? 'active' : '' %>">
            <%= link_to "Expense", accounts_path(month: params[:month], filter: 'expense') %>
          </li>
          <li class="<%= (params[:filter]=='income') ? 'active' : '' %>">
            <%= link_to "Income", accounts_path(month: params[:month], filter: 'income') %>
          </li>
        </ul>
      </div>
      <!-- /.panel-heading -->
      <div class='text-center'><small>Rows can be dragged & dropped to reorder.</small></div>

      <div class="panel-body panel30 accounts-wrapper">
        <table class="dataTable table table-striped table-bordered table-hover" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th>Title</th>
              <th>Payment Mode</th>
              <th>Date</th>
              <th>Payment By</th>
              <th>Amount (&#8377;)</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody class="sortable">
            <% total = 0 %>
            <% @accounts.each_with_sortable_id do |account, sortable_id| %>
              <tr id="<%= sortable_id %>">
                <td><%= link_to account.title, account %></td>
                <td><%= account.payment_mode %></td>
                <td><%= account.on_date.strftime("%d/%b/%Y") %></td>
                <td>
                  <%= link_to account.member.name_with_flat, member_path(account.member) %>
                </td>
                <td>
                  <%= account.Expense? ? '-' : '' %><%= account.amount %>
                  <% total = total.send((account.Expense? ? '-' : '+'), account.amount) %>
                </td>
                <td>
                  <%= link_to edit_account_path(account) do %>
                    <i class="fa fa-pencil fa-fw" title="Edit"></i>
                  <% end %>
                  <%= link_to account, method: :delete, data: { confirm: 'Are you sure want to delate this account entry?' } do %>
                    <i class="fa fa-trash-o fa-fw" title="Delete"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
          <% unless params[:filter]=='expense' %>
            <tbody>
              <tr>
                <td>Maintenance Charges</td>
                <td></td>
                <td></td>
                <td></td>
                <td><%= @maintenance_income %></td>
                <td></td>
              </tr>
              <tr>
                <td>PartyHall Charges</td>
                <td></td>
                <td></td>
                <td></td>
                <td><%= @party_hall_income %></td>
                <td></td>
              </tr>
            </tbody>
            <% total = total + @maintenance_income + @party_hall_income %>
          <% end %>
          <tfoot>
            <tr>
              <th></th>
              <th></th>
              <th></th>
              <th style="text-align: right;">Total (&#8377;)</th>
              <th><%= total %></th>
              <th></th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>
