<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>
          <div class="flex-box">
            Accounts
            <div class="col-lg-2">
              <%= link_to 'Add Account Entry', new_account_path, class: "btn btn-default" %>
            </div>
          </div>
        </h3>
        <div>
          <%= select_tag "for_month", options_for_select(month_year_list, (params[:filter] || Date.today.strftime("%b-%Y"))), class: "form-control", style: "width: 130px;" %>
        </div>
      </div>
      <!-- /.panel-heading -->

      <div class="panel-body panel30 accounts-wrapper">
        <table class="dataTable table table-striped table-bordered table-hover" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th>Title</th>
              <th>Payment Mode</th>
              <th>Date</th>
              <th>Payment By</th>
              <th>Amount (&#8377;)</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% total = 0 %>
            <% @accounts.each do |account| %>
              <tr>
                <td><%= link_to account.title, account %></td>
                <td><%= account.payment_mode %> (<%= account.invoice_id %>)</td>
                <td><%= account.on_date %></td>
                <td>
                  <%= link_to account.member.name_with_flat, member_path(account.member) %>
                </td>
                <td>
                  <%= account.Expense? ? '-' : '' %><%= account.amount %>
                  <% total = total.send((account.Expense? ? '-' : '+'), account.amount) %>
                </td>
                <td>
                  <%= link_to edit_account_path(account) do %>
                    <i class="fa fa-pencil fa-fw" title="Edit"></i>
                  <% end %>
                  <%= link_to account, method: :delete, data: { confirm: 'Are you sure want to delate this account entry?' } do %>
                    <i class="fa fa-trash-o fa-fw" title="Delete"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
            <tr>
              <td>Maintenance Charges</td>
              <td></td>
              <td></td>
              <td></td>
              <td><%= @maintenance_income %></td>
              <td></td>
            </tr>
            <tr>
              <td>PartyHall Charges</td>
              <td></td>
              <td></td>
              <td></td>
              <td><%= @party_hall_income %></td>
              <td></td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th></th>
              <th></th>
              <th></th>
              <th style="text-align: right;">Total (&#8377;)</th>
              <th><%= total + @maintenance_income + @party_hall_income %></th>
              <th></th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>
